body{
    user-select: none; /* Prevent text selection */
    font-size: large;
}

#event{
    font-size: 1.5rem;
    color: #007bff; /* Bootstrap primary color */
    font-weight: bold;
    font-variant: small-caps; /* Small caps for emphasis */

}