#tech_support{
    width:60px; 
    height:60px; 
    position:fixed; 
    bottom:17px; 
    left:73%;
 /*   transform: translateX(-50%);
    -webkit-animation: mySupport 10s linear 1;*/
}
/*
@-webkit-keyframes mySupport{
    0%{
        top: 0;
    }
    100%{
        top: 100vh;
    }
}*/